@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    background-color: #f7efef;
}

#title {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    background-color: #1877f2;
}

#calc-wrap {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(46, 46, 46);
    border-radius: 5px;
    width: 350px;
    height: 470px;
    background-color: grey;
}

#display-panel {
    font-family: 'Rubik', sans-serif;
    display: grid;
    overflow: auto;
    width: 332px;
    height: 120px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-align: end;
}

#display-panel span {
    /* display: inline-block; */
    padding-bottom: 20px;
    font-size: 20px;
}

#keypad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    /* padding: 10px; */
}

#equal-to {
    width: 164px;
}

.calc-buttons {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    font-size: 20px;
    width: 80px;
    height: 61px;
    background-color: rgb(220, 220, 220);
    border: none;
    border-radius: 2px;
    transition: all 250ms;
}

.calc-buttons:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.calc-buttons:hover {
    transform: translateY(-1px);
}

.calc-buttons:active {
    background-color: #519af9;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

[id*="-row"] {
    padding: 2px;
    background-color: grey;
}

#delete {
    background-color: rgb(243, 119, 119);
}

#ac {
    background-color: rgb(138, 202, 138);
}
